[tool.black]
line-length = 100
target-version = ["py311"]

[tool.isort]
profile = "black"
line_length = 100
combine_as_imports = true

[tool.ruff]
line-length = 100
select = ["E", "F", "I", "B", "UP", "S", "W", "A"]
ignore = ["E501", "B008", "A003"]
target-version = "py311"
